.content{
    margin-bottom: 40px;
    width: 100%;
    min-height: 300px; 
    padding: 2em;
}

.project-1{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url(../images/project-1-thumbnail.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .project-1:hover{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        rgba(8, 13, 34, 0.91),
        rgba(8, 13, 34, 0.91)
    ),
    /* bottom, image */
    url(../images/project-1-thumbnail.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
  
 .project-2{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url(../images/project-2-thumbnail.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .project-2:hover{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        rgba(8, 13, 34, 0.91),
        rgba(8, 13, 34, 0.91)
    ),
    /* bottom, image */
    url(../images/project-2-thumbnail.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }

 .project-3{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url(../images/project-3-thumbnail.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .project-3:hover{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        rgba(8, 13, 34, 0.91),
        rgba(8, 13, 34, 0.91)
    ),
    /* bottom, image */
    url(../images/project-3-thumbnail.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 .project-4{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url(../images/project-4-thumbnail.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .project-4:hover{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        rgba(8, 13, 34, 0.91),
        rgba(8, 13, 34, 0.91)
    ),
    /* bottom, image */
    url(../images/project-4-thumbnail.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }

 
.content .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
 }
 
 .content .text {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    opacity: 0;
    max-height:0;
    transition: all 0.3s ease;
 }
 
 
 .content:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height:40px;
 }

 

 
 
